
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";
/*@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cabin:400,700);*/

/* Your styles here */

html,
body {
	height: 100%;
	font-family: 'Cabin', sans-serif !important;
}

#ufcaruf-container {
	max-width: 1100px;
	margin: auto;
}

.nav {
	margin: auto;
	float: left;
}

.nav a.secciones img {
	transition-property: height;
    transition-duration: 1s;
	height: 100px;
}

.nav a.secciones:hover img {
	height: 150px;
}

.nav a.logouc img {
	/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
    transition-duration: 1s;
}

.nav a.logouc:hover img {
	transform:rotate(245deg);
	-ms-transform:rotate(245deg); /* IE 9 */
	-moz-transform:rotate(245deg); /* Firefox */
	-webkit-transform:rotate(245deg); /* Safari - Chrome */
	-o-transform:rotate(245deg); /* Opera */
}

#footer {
	margin-top: 20px;
	padding: 20px;
	background-color: #F5EE99;
}

#footer p {
	margin: 0px;
}

.uf-logo {
	margin: auto;
	max-width: 600px;
}

.uf-logo img {
	width: 100%; 
}

/* botones block responsivistas */
.uf-button {
	margin: auto;
	max-width: 600px;
}

.uf-button img {
	width: 100%; 
}

.item-artista {
	/*min-height: 710px !important;*/
}

.item-artista .detalles {
	padding: 1em;
	border-top: 10px solid #02A5D5;
}

.item-artista .nombre-y-foto {
	position: relative;
}

.item-artista img {
	width: 100%;
}

.item-artista h2.artista {
	color: #F04521;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1.1;
	font-family: 'Annie Use Your Telescope', sans-serif;
	margin: 0px;
}

.item-artista .autor-foto {
	font-size: .8em;
}

.item-artista .descripcion {

}

/* Fechas */
#listado-fechas {
	list-style: none;
	margin: 0px;
}

#listado-fechas li {
	border-bottom: 10px solid #99C050;
}

#listado-fechas li h2 {
	color: #DE007D;
	font-family: 'Annie Use Your Telescope', sans-serif;
	margin: 0px;
}

#listado-fechas li h3 {
	font-size: 14pt;
	margin: 0px;
}

#listado-fechas li p {
	font-size: 12pt;
	margin: 1em 0;
}


/* Algunos fixes para tablets */
@media (max-width: 767px) {
	
}
